[submodule "src/examples/DT2"]
    path = src/examples/DT2
    url = git@github.com:cvan/DT2.git
[submodule "src/examples/FullScreenMario"]
	path = src/examples/FullScreenMario
	url = git@github.com:cvan/FullScreenMario.git
