/* Adapted from this awesome CodePen pen: http://codepen.io/fullkornslimpa/pen/jxiHd/ */

@font-face {
  font-family: Pretendo;
  src: url(../fonts/pretendo.woff) format('woff');
}

@font-face {
  font-family: NESController;
  src: url(../fonts/nescontroller.woff) format('woff');
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  background: #000;
  height: 100%;
  width: 100%;
}

body {
  font: 15px/2 NESControl;
  overflow: hidden;
}

.button {
  outline: none;
  transition: all .05s ease;
}

.button,
.button:after,
.button:before,
.label {
  cursor: pointer;
}

/**
 * NES-inspired gamepad
 */
#pad-traditional {
  box-shadow:
    .1em .1em 0 hsla(0,0%,100%,.5),  /* border */
    .075em .1em 0 hsla(0,0%,80%,1),  /* 3D */
    .15em .2em 0 hsla(0,0%,78%,1),
    .225em .3em 0 hsla(0,0%,76%,1),
    .3em .4em 0 hsla(0,0%,74%,1),
    .375em .5em 0 .1em hsla(0,0%,72%,1),
    .425em .6em 0 .1em hsla(0,0%,70%,1),
    .5em .7em 0 .1em hsla(0,0%,68%,1),
    .575em .8em 0 .1em hsla(0,0%,66%,1),
    .65em .9em 0 .1em hsla(0,0%,64%,1),
    .725em 1em 0 .1em hsla(0,0%,62%,1),
    .775em 1.1em 0 .08em hsla(0,0%,40%,1),  /* back piece */
    .800em 1.1em 0 .13em hsla(0,0%,60%,1),
    .875em 1.2em 0 .13em hsla(0,0%,58%,1),
    .950em 1.3em 0 .13em hsla(0,0%,56%,1),
    1.025em 1.4em 0 .13em hsla(0,0%,54%,1),
    1.1em 1.5em 0 .13em hsla(0,0%,52%,1),
    1.175em 1.6em 0 .13em hsla(0,0%,50%,1),
    0.4em 1.1em .5em hsla(0,0%,20%,.1),  /* shadow */
    0.8em 1.3em .6em hsla(0,0%,20%,.1),
    1.2em 1.6em .7em hsla(0,0%,20%,.1),
    1.6em 1.8em .8em hsla(0,0%,20%,.1),
    2em 2em .9em hsla(0,0%,20%,.1),
    2.4em 2.2em 1em hsla(0,0%,20%,.1),
    2.8em 2.4em 1.1em hsla(0,0%,20%,.1),
    3.2em 2.6em 1.2em hsla(0,0%,20%,.1),
    3.6em 2.8em 1.3em hsla(0,0%,20%,.1),
    4em 3em 1.4em hsla(0,0%,20%,.1);
  background-color: #2a2a2a;
  border-radius: .3em;
  border-top-width: 3em;
  border: 1em solid #e2dedb;
  color: #f00;
  font: 15px/2 NESController, sans-serif;
  height: 17.5em;
  margin: 20px auto;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 40em;
}

.cord {
  background-color: #bbb;
  box-shadow: -.2em 0 .2em .49em #222 inset;
  height: 3em;
  margin-left: 10em;
  position: absolute;
  top: -1em;
  width: 1.1em;
}

.cord:before {
  /* cord dent */
  background-color: #e2dedb;
  box-shadow: -.05em -.1em .3em .1em #ccc inset;
  content: "";
  height: .7em;
  left: -.4em;
  position: absolute;
  top: 2.35em;
  width: 1.7em;
}

.dpad-pane {
  display: inline-block;
  height: 2.6em;
  margin: 6.5em 4.5em 5em;
  position: relative;
  vertical-align: top;
  width: 2.6em;
}

.dpad-pane:before,
.dpad-pane:after {
  background-color: #ddd;
  border-radius: .3em;
  content: "";
  height: 280%;
  left: 0;
  position: absolute;
  top: -94%;
  width: 100%;
}

.dpad-hole:before,
.dpad-hole:after {
  background-color: #000;
  border-radius: .2em;
  content: "";
  height: 265%;
  left: 0;
  margin: 7%;
  position: absolute;
  top: -93%;
  width: 86%;
  z-index: 1;
}

.dpad-pane:after,.dpad-hole:after {
  transform: rotate(90deg);
}

#dpad {
  left: -.1em;
  position: relative;
  top: -.006em;
  z-index: 1;
}

#dpad:after {
/* dpad-pit */
  background: -webkit-radial-gradient(76% 63%,circle closest-corner,hsla(0,0%,60%,.45),hsla(0,0%,10%,1) 100%);
  background: -moz-radial-gradient(76% 63%,circle closest-corner,hsla(0,0%,60%,.45),hsla(0,0%,10%,1) 100%);
  background: radial-gradient(76% 63%,circle closest-corner,hsla(0,0%,60%,.45),hsla(0,0%,10%,1) 100%);
  border-radius: 1em;
  box-shadow: -3px -2px 4px -1px #444 inset;
  content: "";
  height: 1.2em;
  margin: .4em .5em;
  position: absolute;
  width: 1.2em;
  z-index: 1;
}

#dpad.up {
  margin-top: .05em;
  margin-left: .15em;
  transform: rotate(.4deg) scaleY(.98);
}

#dpad.right {
  margin-top: .01em;
  margin-left: .11em;
  transform: rotate(.5deg) scaleX(1.02);
}

#dpad.down {
  transform: rotate(-.6deg) scaleY(1.01);
  margin-top: .05em;
  margin-left: .05em;
}

#dpad.left {
  transform: rotate(-.8deg) scaleX(.97);
  margin-top: .015em;
  margin-left: .1em;
}

#dpad-body {
  left: -2.3em;
  position: absolute;
  top: -2.3em;
  z-index: 1;
}

#dpad .button {
  background-color: rgba(0,0,0,0);  /* "transparent" buttons in IE9 aren't clickable, but rgba can be used */
  border: none;
  height: 2em;
  padding: 0;
  position: absolute;
  width: 2em;
  z-index: 2;
}

#dpad .button:before {
  border-style: solid;
  border-width: .1em;
  content: "";
  display: block;
  height: .8em;
  margin: 0 .55em;
  position: absolute;
  transform: rotate(315deg)
  width: .8em;
}

#dpad .button:after {
  border-style: solid;
  border-width: .1em;
  content: "";
  display: block;
  height: .45em;
  margin: .5em .5em 0;
  position: absolute;
  width: .8em;
}

#up {
  top: -2.7em;
}

#up:before {
  border-color: #151515 #444 transparent transparent;
}

#up:after {
  border-color: transparent #444 #444 #151515;
}

#right {
  left: 2.7em;
  transform: rotate(90deg);
}

#right:before {
  border-color: #444 #444 transparent transparent;
}

#right:after {
  border-color: transparent #444 #151515 #151515;
}

#down {
  top: 2.7em;
  transform: rotate(180deg);
}

#down:before {
  border-color: #444 #151515 transparent transparent;
}

#down:after {
  border-color: transparent #151515 #151515 #444;
}

#left {
  left: -2.7em;
  transform: rotate(270deg);
}

#left:before {
  border-color: #444 #151515 transparent transparent;
}

#left:after {
  border-color: transparent #151515 #444 #444;
}

.menu-pane {
  display: inline-block;
  vertical-align: top;
  width: 11.5em;
  height: 100%;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;  /* normal hidden doesn't work in firefox here */
  border: 0 solid rgba(100,100,100,.8);
  border-width: .1em 0;
}

.menu-pane .labels {
  border-radius: .3em;
  height: 2em;
  background-color: #888;
  text-transform: uppercase;
  padding: 0 .8em;
  margin-top: 5.2em;
  box-shadow: 0 -2.7em #888,0 -5.4em #888,0 7em #888;
}

.menu-pane label {
  line-height: 1.4;
  font-size: 1.3em;
}

.menu-pane .buttons {
  margin: .67em 0;
  width: 100%;
  height: 3.6em;
  border-radius: .3em;
  background-color: #ddd;
  text-transform: uppercase;
  padding: 1.3em;
  word-spacing: 2em;
  position: relative;
}

.menu-pane .buttons:before {
/* indentation */
  content: "";
  position: absolute;
  top: .4em;
  right: .4em;
  bottom: .4em;
  left: .4em;
  border: .3em solid transparent;
  border-color: #b1b1b1 #f6f6f6 #eee #bbb;
  box-shadow: 1em .8em .8em -1em hsla(0,0%,0%,.3) inset;
}

.menu-pane .button {
  background-color: #2a2a2a;
  border-radius: 1em;
  border: 0;
  box-shadow:
    .04em .08em 0 hsla(0, 0%, 26%, 1),  /* 3D */
    .08em .15em 0 hsla(0, 0%, 23%, 1),
    .12em .23em 0 hsla(0, 0%, 20%, 1),
    .16em .3em 0 hsla(0, 0%, 17%, 1),
    .16em .3em 0 .15em hsla(0, 0%, 0%, .9),  /* hole */
    .1em .075em .5em rgba(0, 0, 0, .3),  /* shadow */
    .3em .15em .5em rgba(0, 0, 0, .3),
    .6em .2em .5em rgba(0, 0, 0, .3),
    1.2em .4em .5em rgba(0, 0, 0, .3);
  color: #2a2a2a;
  height: 1.2em;
  left: -.16em;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  top: -.3em;
  width: 3.3em;
}

.menu-pane .button:active,
.menu-pane .button[data-pressed="1"] {
  top: 0;
  left: 0;
  box-shadow: 0 0 0 .15em hsla(0,0%,0%,.9),  /* hole */
    .1em .075em .5em rgba(0,0,0,.3);
}

.start {
  float: right;
  padding-right: 6px;
}

.select {
  float: left;
}

.action-pane {
  border-bottom: 1px solid transparent;
  display: inline-block;
  margin: 2.6em 0 0 1.1em;
  vertical-align: top;
}

.logo {
  font: 1.3em/1 pretendo;
  letter-spacing: 1px;
  margin: 0 0 3.3rem 2rem;
  cursor: default;
}

.logo:after {
  content: '\00a0\AE';
  font: .6rem sans-serif;
  vertical-align: super;
}

.action-pane .label {
  background-color: #ddd;
  border-radius: .4rem;
  display: inline-block;
  font-size: 1.5rem;
  height: 4rem;
  line-height: 6.1em;
  margin-left: .8rem;
  position: relative;
  text-align: right;
  width: 4rem;
}

.action-pane .button {
      background: #E0421B; /* fallack */
      background: -moz-radial-gradient(35% 35%, circle closest-corner, #ff8957, #E0421B 100%);
      background: -webkit-radial-gradient(35% 35%, circle closest-corner, #ff8957, #E0421B 100%);
      background: radial-gradient(35% 35%, circle closest-corner, #ff8957, #E0421B 100%);
  box-shadow:
    2em 1em 0.2em 0 hsla(10,90%,45%,.5) inset,  /* reflection */
    .04em .1em 0 hsla(10,90%,30%,1),  /* 3D */
    .08em .2em 0 hsla(10,90%,26%,1),
    .12em .3em 0 hsla(10,90%,23%,1),
    .1em .24em 0 .15em hsla(0,0%,15%,1),  /* hole */
    .1em .075em .5em rgba(0,0,0,.3),  /* shadow */
    .3em .15em .5em rgba(0,0,0,.3),
    .6em .3em .5em rgba(0,0,0,.3),
    1.2em .6em .5em rgba(0,0,0,.3);
  border-radius: 2em;
  border: .08em solid hsla(10, 90%, 55%, 1);
  height: 3.2rem;
  left: .22rem;
  position: absolute;
  top: .02rem;
  width: 3.2rem;
}

.action-pane .button:active,
.action-pane .button[data-pressed="1"] {
  box-shadow:
    2em 1em 0.2em 0 hsla(10,90%,45%,.5) inset,  /* reflection */
    .05em .1em 0 hsla(10,90%,30%,1),  /* 3D */
    0 0 0 .15em hsla(0,0%,15%,1),  /* hole */
    .1em .075em .5em rgba(0,0,0,.3);  /* shadow */
  left: .35rem;
  top: .4rem;
}
